<!-- <div class="toggle-wrapper" [class.checked]="checked" tabindex="0" (click)="toggle()">
  <div class="toggle"></div>
</div> -->

<!-- <p>
  Design by: <a href="https://dribbble.com/shots/4707036-Switcher-XXXVIII" target="_blank">Oleg Frolov</a>
</p> -->

<header>
  <ng-content select=".header"></ng-content>
</header>

<div class="toggle-wrapper" [class.checked]="checked" tabindex="0" (click)="toggle()">
  <div class="toggle"></div>
</div>

<div class="toggle-label">
    <ng-content select="label"></ng-content>
</div>

<div class="toggle-content">
    <ng-content></ng-content>
</div>

<div class="skip">
<ng-content select="button"></ng-content>
</div>
