<h2>Day 16 - Dependency Injection in Angular</h2>

<h4>None Bootstrap:</h4>

<tab-group [(activeIndex)]="currentIndex">
  <tab-panel title="First tab">First tab content</tab-panel>
  <tab-panel title="Second tab">Second tab content</tab-panel>
  <tab-panel title="Third tab">Third tab content</tab-panel>
  <tab-panel title="Fourth tab">Fourth tab content</tab-panel>
</tab-group>

<br>

<h4>Use Bootstrap:</h4>

<tab-bs-group [(activeIndex)]="currentIndex">
  <tab-panel title="First tab">First tab content</tab-panel>
  <tab-panel title="Second tab">Second tab content</tab-panel>
  <tab-panel title="Third tab">Third tab content</tab-panel>
  <tab-panel title="Fourth tab">Fourth tab content</tab-panel>
</tab-bs-group>
